<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.masterfan.cloudbook"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".CloudBookApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.test.TestMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.launcher.LauncherActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.test.TestMaterialIconActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.test.TestRecyclerViewLinearLayoutActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.test.TestDownloadActivity"
            android:label="@string/title_activity_test_download"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.main.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- 个人 start -->
        >
        <activity
            android:name=".activity.personal.ui.PersonalDataActivity"
            android:label="@string/title_activity_test_download"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.personal.ui.UploadProtocolActivity"
            android:label="@string/title_activity_test_download"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.personal.ui.SelfIntroductionActivity"
            android:label="@string/title_activity_test_download"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.personal.ui.EmailActivity"
            android:label="@string/title_activity_test_download"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.personal.ui.PhoneActivity"
            android:label="@string/title_activity_test_download"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.personal.ui.UpdatePassWordActivity"
            android:label="@string/title_activity_test_download"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.personal.ui.BookFriendFragmentActivity"
            android:label="@string/title_activity_test_download"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.personal.ui.NoteBookListActivity"
            android:label="@string/title_activity_test_download"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.personal.ui.MyUploadListActivity"
            android:label="@string/title_activity_my_upload"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.personal.ui.WorksmanagementFragmentActivity"
            android:label="@string/title_activity_test_download"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.personal.ui.MessageListActivity"
            android:label="@string/title_activity_test_download"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.personal.ui.CommentListActivity"
            android:label="@string/title_activity_test_download"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.personal.ui.ClassActivity"
            android:label="@string/title_activity_test_download"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.personal.ui.ForMessageActivity"
            android:label="@string/title_activity_test_download"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.personal.ui.NameActivity"
            android:label="@string/title_activity_test_download"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.personal.ui.NickNameActivity"
            android:label="@string/title_activity_test_download"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.home.ui.AboutWeActivity"
            android:label="@string/title_activity_test_download"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.home.ui.CopyrightNoticeActivity"
            android:label="@string/title_activity_test_download"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.home.ui.ProblemfeedbackActivity"
            android:label="@string/title_activity_test_download"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.home.ui.VersionUpdateActivity"
            android:label="@string/title_activity_test_download"
            android:theme="@style/AppTheme.NoActionBar"/>
        <!-- 个人 end -->
        <activity
            android:name=".activity.login.SignupActivity"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.test.TestDropDownActivity"
            android:label="@string/title_activity_test_drop_down"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
